
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  header {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 99;
    top: 0;
    padding: 0px 70px;
  }
  body {
    font-family: Hind, sans-serif;
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
  }
  p {
    line-height: 1.5;
  }
  ul {
    list-style: none;
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
  a,
  span,
  label,
  input {
    display: inline-block;
  }
  input,
  textarea,
  button {
    outline: none;
  }
  .py {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .shown {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: scale 1s ease-in-out forwards;
    -webkit-animation: scale 1s ease-in-out forwards;
  }
  .hide {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  @keyframes scale {
    0% {
      transform: scale(0.5);
      opacity: 0.5;
      filter: grayscale(1);
    }
  
    50% {
      opacity: 1;
      transform: scale(1);
      filter: grayscale(0);
    }
  }
  a.try_free {
    padding: 0.8rem 1.5rem;
    background: var(--primary-color, #455ef9);
  }
  a.try_free:hover,
  a.try_free:focus {
    background: var(--primary-color, #455ef9);
    border-color: var(--primary-color, #455ef9);
    box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3)) !important;
  }
  article.article h3 span .yellowbg {
    bottom: -2px;
    left: 0px;
    z-index: -1;
    animation: 3s linear 0s infinite normal none running yellowBg;
  }
  @keyframes yellowBg {
    0% {
      width: 0px;
    }
  
    15% {
      width: 100%;
    }
  
    85% {
      opacity: 1;
    }
  
    90% {
      width: 100%;
      opacity: 0;
    }
  
    100% {
      width: 0px;
      opacity: 0;
    }
  }
  header.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--color-light, #fff);
    box-shadow: var(--shadow);
    animation: 0.3s ease-in-out 0s 1 normal forwards running fade;
  }
  @keyframes fade {
    0% {
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  ul li a,
  a {
    color: var(--color, #0e1133);
    font-weight: 500;
    transition: all 0.3s ease-in-out 0s;
    font-family: Hind, sans-serif;
  }
  section {
    z-index: 3;
  }
  header .header-left a.logo {
    margin-top: 10px;
  }
  header .header-left a.logo figure {
    width: 114px;
    height: 46px;
    margin: 0;
  }
  header .header-category {
    padding-left: 56px;
  }
  header .header-category::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 27px;
    width: 1px;
    height: 165%;
    background: rgb(206, 206, 206);
  }
  header .header-category li ul.drop-down-menu li>a:hover,
  header ul li.drop-down-btn:hover>a {
    fill: var(--primary-color, #2b4eff);
    color: var(--primary-color, #2b4eff);
  }
  header .header-category .header-category-icon {
    width: 15px;
    margin-right: 10px;
    color: black;
  }
  .category__more a {
    color: grey;
  
    &:hover {
      color: #2b4eff;
    }
  }
  header ul li ul.drop-down-menu {
    left: 0px;
    width: 200px;
    background: var(--color-light, #fff);
    box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out 0s;
    z-index: 9;
  }
  header ul li ul.category_drop-down-menu {
    top: calc(100% + 30px);
    padding: 17px 0px 15px;
    border-radius: 4px;
  }
  
  header ul li ul.drop-down-menu li a {
    width: 100%;
  }
  
  header .header-category li ul.drop-down-menu li>a {
    padding: 3px 30px;
    color: rgb(109, 110, 117);
    font-weight: 500;
    text-transform: capitalize;
  }
  
  header li.drop-down-btn:hover ul.drop-down-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  
  header .header_right nav.main-menu {
    width: 50%;
  }
  
  header .header_right nav.main-menu ul {
    padding: 0px;
  }
  
  header .header_right nav.main-menu ul span {
    font-size: 0.6rem;
    vertical-align: text-top;
  }
  
  header .header_right nav.main-menu ul a:not(.drop-down-menu a) {
    padding: 35px 0px;
  }
  
  header nav.main-menu ul li ul.drop-down-menu {
    top: 120%;
  }
  
  header nav.main-menu ul li ul.drop-down-menu a {
    padding: 10px 25px;
    font-size: 13px;
    position: relative;
    z-index: 1;
  }
  
  header nav.main-menu ul li ul.drop-down-menu li:not(:last-child) a {
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  
  header nav.main-menu ul li ul.drop-down-menu a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% + 1px);
    width: 100%;
    z-index: -2;
    background: var(--primary-color);
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out 0s;
  }
  
  header nav.main-menu ul li ul.drop-down-menu a:hover {
    color: var(--color-light, white);
    background-color: blue;
  }
  
  header nav.main-menu ul li ul.drop-down-menu a:hover::before {
    transform-origin: left center;
    transform: scaleX(1);
    transition-delay: 0.1s;
  }
  
  header .form-and-btn form {
    background: var(--color-light, #fff);
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    border-radius: 0.2rem;
    margin-right: 1.5rem;
    border: 1px solid transparent;
  }
  
  header.sticky .form-and-btn form {
    background: var(--gray-color, #edeef3);
  }
  
  header .form-and-btn form:focus-within {
    border-color: var(--primary-color, #455ef9);
  }
  
  header .form-and-btn form .shopping_cart_icon {
    width: 24px;
  }
  
  header .form-and-btn form .shopping_cart_icon path {
    fill: transparent;
    stroke: rgb(0, 0, 0);
    stroke-width: 1.2px;
  }
  
  header .form-and-btn form button,
  .form-and-btn form input {
    background: transparent;
    border: none;
  }
  
  header .form-and-btn form input {
    padding: 5px 1rem;
    font-size: 14px;
    width: 100%;
    border-right: 1px solid rgb(221, 221, 221);
    margin-right: 10px;
  }
  
  header .form-and-btn form .shopping-cart-and-label span {
    position: absolute;
    top: -7px;
    right: -11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--primary-color, #455ef9);
    text-align: center;
    line-height: 18px;
    color: var(--color-light, #fff);
    font-size: 13px;
    box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3));
  }
  
  header .toggle-btn {
    width: 35px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  header .toggle-btn:before,
  header .toggle-btn::after,
  header .toggle-btn span {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color, #455ef9);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  header .toggle-btn:before {
    top: 0;
  }
  
  header .toggle-btn::after {
    bottom: 0;
  }
  
  header .toggle-btn:hover::before,
  header .toggle-btn:hover::after,
  header .toggle-btn:hover span {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
  }
  
  header .toggle-btn:hover::before {
    width: 10px;
  }
  
  header .toggle-btn:hover span {
    width: 20px;
  }
  
  header .toggle-btn.toggle::before,
  header .toggle-btn.toggle::after,
  header .toggle-btn.toggle span {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
  }
  
  header .toggle-btn.toggle::before {
    width: 10px;
  }
  
  header .toggle-btn.toggle span {
    width: 20px;
  }
  
  header a.try_free {
    white-space: nowrap;
  }


  #page-up .area-page .pageground{
    filter: brightness(0.5);
    position: relative;
    z-index: 1;
     
} 

.area-page .cour{
    margin-top: -200px;
    margin-left: 200px;
    position: absolute  ;
    z-index: 2;
    color: white;
}


.area-page .cour h1{
 font-size: 50px;
}



.area-page .ulli{
    margin-top: -140px;
    margin-left: 170px;
    position: absolute  ;
    z-index: 2;
    color: white;
}

.area-page .ulli ul {
    display: flex;
    color: white;
    list-style: none;


}


.area-page .ulli ul li{
color: white;
margin-left: 10px;


}

.area-page .ulli ul li a{
    text-decoration: none;
    color: white;
}




.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 75%;
}

@media (max-width: 768px) {
    .myContainer {
        width: 95%;
    }

}

.form-part {
    form {
        input {
            width: 100%;
            height: 56px;
            line-height: 54px;
            background: #f3f4f8;
            border-radius: 4px;
            border: 2px solid #f3f4f8;
            color: #0e1133;
            font-size: 15px;
            margin-bottom: 20px;
            transition: 0.5s;
            padding: 20px;
        }

        input::placeholder {
            font-size: 14px;
        }

        input:focus {
            border-color: #2b4eff;
            outline: none;
            background: #ffffff;
        }

        textarea {
            width: 100%;
            background: #f3f4f8;
            border-radius: 4px;
            border: 2px solid #f3f4f8;
            color: #0e1133;
            font-size: 15px;
            margin-bottom: 20px;
            transition: 0.5s;
            padding: 20px;
        }

        textarea:focus {
            border-color: #2b4eff;
            outline: none;
            background: #ffffff;
        }
    }

    .send-button {
        text-align: center;
        padding: 12px 20px;
        color: #fff;
        background: #2b4eff;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        border: none;
    }

    .send-button:hover {
        color: #fff;
        box-shadow: 0 10px 24px #0417764d;
    }
}

.right-side {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.right-side svg,
i {
    color: #2b4eff;
}

.right-side h5 {
    font-size: 18px;
    font-weight: 600;
    font-family: Hind, sans-serif;
    color: #0e1133;
    margin-top: 0;
    font-weight: bold;
    line-height: 1.2;
    transition: all .3s ease-out 0s;
}

.right-side p {
    font-size: 15px;
    padding-left: 40px;
    opacity: 0.9;
}

.footer-button {
    border-radius: 0 !important;
    padding: 15px 25px !important;
    background-color: #2b4eff;
}

.social-media-icon-facebook,
.social-media-icon-twitter,
.social-media-icon-pinterest {
    border: none;
    width: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 4px;
}

.social-media-icon-facebook {
    background-color: #2b4eff;
    transition: 0.8s;

    i {
        color: white;
        transition: 0.6s;
    }
}

.social-media-icon-facebook:hover {
    background-color: transparent;
    border: 1px solid #2b4eff;

    i {
        color: #2b4eff;
    }
}


.social-media-icon-twitter {
    background-color: #08a0e9;
    transition: 0.8s;

    i {
        color: white;
        transition: 0.6s;
    }
}

.social-media-icon-twitter:hover {
    background-color: transparent;
    border: 1px solid #08a0e9;

    i {
        color: #08a0e9;
    }
}

.social-media-icon-pinterest {
    background-color: rgb(255, 68, 68);
    transition: 0.8s;

    i {
        color: white;
        transition: 0.6s;
    }
}

.social-media-icon-pinterest:hover {
    background-color: transparent;
    border: 1px solid rgb(255, 68, 68);

    i {
        color: rgb(255, 68, 68);
    }
}

.last-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-wrapper .last-container {
    width: 60%;
}

@media (max-width: 768px) {
    .last-wrapper .last-container {
        width: 95%;
    }
}

.last-wrapper .last-container .row {

    .card {
        border: none;
        padding: 50px 40px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
    svg {
        color: #2b4eff;
        line-height: 2;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 8px;
        font-family: Hind, sans-serif;
        color: #0e1133;
        margin-top: 0;
        font-weight: 700;
        line-height: 1.2;
        transition: all .3s ease-out 0s;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #53545b;
        font-weight: 400;
    }

    button {
    border: 2px solid #d7d9e3;
    color: #0e1133;
    background: transparent;
    text-align: center;
    padding: 10px 35px;
    font-size: 16px;
    color: #0e1133;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.5s;
    }

    button:hover {
        background: #2b4eff;
        color: white;
    }
}