* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 99;
  top: 0;
  padding: 0px 70px;
}

body {
  font-family: Hind, sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 97%;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

a,
span,
label,
input {
  display: inline-block;
}

input,
textarea,
button {
  outline: none;
}

.py {
  padding-top: 100px;
  padding-bottom: 100px;
}

.shown {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: scale 1s ease-in-out forwards;
  -webkit-animation: scale 1s ease-in-out forwards;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
    filter: grayscale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0);
  }
}

a.try_free {
  padding: 0.8rem 1.5rem;
  background: var(--primary-color, #455ef9);
}

a.try_free:hover,
a.try_free:focus {
  background: var(--primary-color, #455ef9);
  border-color: var(--primary-color, #455ef9);
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3)) !important;
}

article.article h3 span .yellowbg {
  bottom: -2px;
  left: 0px;
  z-index: -1;
  animation: 3s linear 0s infinite normal none running yellowBg;
}

@keyframes yellowBg {
  0% {
    width: 0px;
  }

  15% {
    width: 100%;
  }

  85% {
    opacity: 1;
  }

  90% {
    width: 100%;
    opacity: 0;
  }

  100% {
    width: 0px;
    opacity: 0;
  }
}

header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-light, #fff);
  box-shadow: var(--shadow);
  animation: 0.3s ease-in-out 0s 1 normal forwards running fade;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

ul li a,
a {
  color: var(--color, #0e1133);
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  font-family: Hind, sans-serif;
}

section {
  z-index: 3;
}

header .header-left a.logo {
  margin-top: 10px;
}

header .header-left a.logo figure {
  width: 114px;
  height: 46px;
  margin: 0;
}

header .header-category {
  padding-left: 56px;
}

header .header-category::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 27px;
  width: 1px;
  height: 165%;
  background: rgb(206, 206, 206);
}

header .header-category li ul.drop-down-menu li>a:hover,
header ul li.drop-down-btn:hover>a {
  fill: var(--primary-color, #2b4eff);
  color: var(--primary-color, #2b4eff);
}

header .header-category .header-category-icon {
  width: 15px;
  margin-right: 10px;
  color: black;
}

.category__more a {
  color: grey;

  &:hover {
    color: #2b4eff;
  }
}

header ul li ul.drop-down-menu {
  left: 0px;
  width: 200px;
  background: var(--color-light, #fff);
  box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}

header ul li ul.category_drop-down-menu {
  top: calc(100% + 30px);
  padding: 17px 0px 15px;
  border-radius: 4px;
}

header ul li ul.drop-down-menu li a {
  width: 100%;
}

header .header-category li ul.drop-down-menu li>a {
  padding: 3px 30px;
  color: rgb(109, 110, 117);
  font-weight: 500;
  text-transform: capitalize;
}

header li.drop-down-btn:hover ul.drop-down-menu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

header .header_right nav.main-menu {
  width: 50%;
}

header .header_right nav.main-menu ul {
  padding: 0px;
}

header .header_right nav.main-menu ul span {
  font-size: 0.6rem;
  vertical-align: text-top;
}

header .header_right nav.main-menu ul a:not(.drop-down-menu a) {
  padding: 35px 0px;
}

header nav.main-menu ul li ul.drop-down-menu {
  top: 120%;
}

header nav.main-menu ul li ul.drop-down-menu a {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
}

header nav.main-menu ul li ul.drop-down-menu li:not(:last-child) a {
  border-bottom: 1px solid rgb(221, 221, 221);
}

header nav.main-menu ul li ul.drop-down-menu a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% + 1px);
  width: 100%;
  z-index: -2;
  background: var(--primary-color);
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out 0s;
}

header nav.main-menu ul li ul.drop-down-menu a:hover {
  color: var(--color-light, white);
  background-color: blue;
}

header nav.main-menu ul li ul.drop-down-menu a:hover::before {
  transform-origin: left center;
  transform: scaleX(1);
  transition-delay: 0.1s;
}

header .form-and-btn form {
  background: var(--color-light, #fff);
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  border: 1px solid transparent;
}

header.sticky .form-and-btn form {
  background: var(--gray-color, #edeef3);
}

header .form-and-btn form:focus-within {
  border-color: var(--primary-color, #455ef9);
}

header .form-and-btn form .shopping_cart_icon {
  width: 24px;
}

header .form-and-btn form .shopping_cart_icon path {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 1.2px;
}

header .form-and-btn form button,
.form-and-btn form input {
  background: transparent;
  border: none;
}

header .form-and-btn form input {
  padding: 5px 1rem;
  font-size: 14px;
  width: 100%;
  border-right: 1px solid rgb(221, 221, 221);
  margin-right: 10px;
}

header .form-and-btn form .shopping-cart-and-label span {
  position: absolute;
  top: -7px;
  right: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary-color, #455ef9);
  text-align: center;
  line-height: 18px;
  color: var(--color-light, #fff);
  font-size: 13px;
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3));
}

header .toggle-btn {
  width: 35px;
  height: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .toggle-btn:before,
header .toggle-btn::after,
header .toggle-btn span {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color, #455ef9);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

header .toggle-btn:before {
  top: 0;
}

header .toggle-btn::after {
  bottom: 0;
}

header .toggle-btn:hover::before,
header .toggle-btn:hover::after,
header .toggle-btn:hover span {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}

header .toggle-btn:hover::before {
  width: 10px;
}

header .toggle-btn:hover span {
  width: 20px;
}

header .toggle-btn.toggle::before,
header .toggle-btn.toggle::after,
header .toggle-btn.toggle span {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}

header .toggle-btn.toggle::before {
  width: 10px;
}

header .toggle-btn.toggle span {
  width: 20px;
}

header a.try_free {
  white-space: nowrap;
}



/* MAIN CSS START */



.hero-height {
  min-height: 950px;
}

.main-up-title {
  font-size: 41px;
  line-height: 1;
  margin-top: 72px;
}

.main-up-title span:first-child {
  font-weight: 300;
  display: block;
}

.main-up-title span.yellow-shape {
  position: relative;
  z-index: 1;
}

.main-up-title span.yellow-shape img {
  position: absolute;
  bottom: 1px;
  left: -1px;
  z-index: -1;
  -webkit-animation: section-animation 3s infinite;
  animation: section-animation 3s infinite;
}

.main-up button {
  cursor: pointer;
  width: 137px;
  height: 54px;
}

.main-up-title-2 {
  margin-bottom: 20px;
}

.main-up p {
  font-size: 22px;
  color: #0e1133;
  padding-right: 130px;
  line-height: 30px;
  margin-bottom: 28px;
}

.main-up-2 h4 {
  font-size: 22px;
  margin-bottom: 0;
}

.main-up-2 p {
  color: #53545b;
  font-size: 16px;
  margin-bottom: 37px;
}

.main-up-thumb {
  z-index: 1;
}

.main-up-thumb-big {
  position: relative;
}

.main-up-thumb-big img {
  max-width: 400px;
  max-height: 460px;
  -webkit-border-radius: 40px 4px 40px 4px;
  -moz-border-radius: 40px 4px 40px 4px;
  border-radius: 40px 4px 40px 4px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
}

.main-up-thumb-sm img {
  max-width: 200px;
  max-height: 240px;
  -webkit-border-radius: 4px 40px 4px 40px;
  -moz-border-radius: 4px 40px 4px 40px;
  border-radius: 4px 40px 4px 40px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
}

.main-up-thumb-shape img {
  position: absolute;
  z-index: -1;
}

.main-up-thumb-shape img.hero-1-dot {
  bottom: -25px;
  top: 620px;
  left: 740px;
  -webkit-animation: hero-dot-1 5s linear 0s infinite alternate;
  -moz-animation: hero-dot-1 5s linear 0s infinite alternate;
  -o-animation: hero-dot-1 5s linear 0s infinite alternate;
  animation: hero-dot-1 5s linear 0s infinite alternate;
}

.main-up-thumb-shape img.hero-1-circle-3 {
  bottom: -37px;
  right: 13%;
  top: 56%;
}

.main-up-thumb-shape img.hero-1-circle-4 {
  top: 192px;
  right: 15%;
}

.main-up-thumb-2 {
  position: relative;
  z-index: 1;
}

.main-up-thumb-2 img.hero-shape-purple {
  position: absolute;
  left: 0;
  bottom: 19%;
  z-index: -1;
}

.hero-quote {
  position: absolute;
  bottom: 60px;
  right: -200px;
  padding: 15px 25px;
  padding-bottom: 20px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
}

.hero-quote span {
  font-size: 14px;
  color: #474956;
}

.hero-quote h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
}

.hero-quote-animation {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-bounce;
}

.main-up-shape img {
  position: absolute;

}

.main-up-shape img.hero-1-circle {
  top: 25%;
  left: 5%;
  -webkit-animation: hero-circle-1 6s linear 0s infinite alternate;
  -moz-animation: hero-circle-1 6s linear 0s infinite alternate;
  -o-animation: hero-circle-1 6s linear 0s infinite alternate;
  animation: hero-circle-1 6s linear 0s infinite alternate;
}

.main-up-shape img.hero-1-circle-2 {
  bottom: 29%;
  left: 0;
  top: 62%;
}

.main-up-shape img.hero-1-dot-2 {
  right: 0;
  bottom: 38%;
  margin-bottom: -98px;

}

.hero-search-input {
  position: relative;
  width: 370px;
}

.hero-search-input input {
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0 24px;
  padding-right: 35px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.hero-search-input input::placeholder {
  color: #8d8e9a;
}

.hero-search-input button {
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  background: transparent;
}

.hero-search-input button i::after {
  color: #0e1133;
  opacity: 1;
}

.hero-search-input button i::before {
  color: #8c8faa;
}

.hero-search p {
  font-size: 16px;
  color: #6d6e75;
}

.hero-promotion {
  position: absolute !important;
  left: -7% !important;
  top: 44% !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  padding: 15px 20px;
  padding-bottom: 10px;
}

.hero-promotion.education {
  bottom: 28% !important;
  top: auto !important;
  left: -11% !important;
}

.hero-promotion-icon span {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff7921;
}

.hero-promotion-icon span svg {
  height: 24px;
  fill: #ffffff;
}

.hero-promotion-icon span.cap {
  background: #5773ff;
}

.hero-promotion-text h5 {
  font-size: 16px;
  margin-bottom: 0;
}

.hero-promotion-text p {
  font-size: 14px;
  color: #474956;
  margin-bottom: 0;
}

.hero-class {
  position: absolute;
  left: auto !important;
  top: auto !important;
  bottom: 33%;
  right: -12%;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
}

.hero-class-thumb img {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.hero-class-text h5 {
  font-size: 16px;
  margin-bottom: 0;
}

.hero-class-text p {
  font-size: 14px;
  color: #474956;
  margin-bottom: 0;
}

.hero-class-text a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding: 0 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #e233fb;
}

.hero-mic {
  position: absolute;
  top: 30%;
  right: 10%;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-bounce;
}

.hero-mic span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ff3c4e;
  -webkit-box-shadow: 0px 14px 30px 0px rgba(131, 2, 14, 0.2);
  -moz-box-shadow: 0px 14px 30px 0px rgba(131, 2, 14, 0.2);
  box-shadow: 0px 14px 30px 0px rgba(131, 2, 14, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.hero-mic span svg {
  height: 28px;
  fill: #ffffff;
}

@keyframes hero-dot-1 {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hero-bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes hero-circle-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.category-item {
  padding: 20px 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #eef0f6;
}

@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
    margin-left: 33px;
    margin-top: 52px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .category-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .category-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .category-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.category-item:hover {
  background: #2b4eff;
  border-color: #2b4eff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(4, 23, 118, 0.3);
  -moz-box-shadow: 0px 20px 30px 0px rgba(4, 23, 118, 0.3);
  box-shadow: 0px 20px 30px 0px rgba(4, 23, 118, 0.3);
}

.category-item:hover .category-title {
  color: #ffffff;
}

.category-item:hover svg .st0,
.category-item:hover svg .st1,
.category-item:hover svg .st2,
.category-item:hover svg .st4,
.category-item:hover svg .st5 {
  fill: #ffffff;
}

.category-item:hover .category-content p {
  color: #ffffff;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .category-icon {
    margin-right: 15px;
  }
}

.category-icon svg {
  width: 40px;
  height: 40px;
}

.category-icon svg .st0 {
  fill: #CEE1F2;
}

.category-icon svg .st1 {
  fill: #3444F1;
}

.category-icon svg .st4 {
  fill: #3444F1;
}

.category-icon svg .st2 {
  fill: #FFB31F;
}

.category-icon svg .st5 {
  fill: #FFB31F;
}

.category-title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 0;
}

.category-title :hover {
  color: white;
}

.category-content p {
  font-weight: 500;
  margin-bottom: 0;
}


.banner-item {
  padding: 50px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: -60px;
}

.category-area {
  margin-bottom: 72px;
  margin-top: -100px;
}

.banner-item span {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #fc4389;
  display: inline-block;
  height: 20px;
  line-height: 22px;
  padding: 0 14px;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.banner-item span.orange {
  background: #ff652e;
}

.banner-title {
  font-size: 26px;
  margin-top: 43px;
  margin-bottom: 56px;
  margin-left: 30px;
}

.banner-title a:hover {
  color: #2b4eff;
}

.banner-thumb {
  position: absolute;
  top: 37%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 56%;

}

.banner-content .bn-1 {
  background-image: url(../image/banner-bg-1.jpg);
  width: 102%;
  height: 260px;
  border-radius: 4px;

}


.banner-content .bn-1 .pc-img {
  margin-left: 32px;
  margin-top: -21px;
}

.banner-content .bn-2 {
  background-image: url(../image/banner-bg-2.jpg);
  width: 100%;
  height: 250px;

}

.banner-content .bn-2 .phone-btn {
  margin-left: 30px;
  margin-top: -23px;
}

.banner-thumb-2 {
  top: 42%;
}

.banner-content {
  position: relative;
  z-index: 1;

}











.course__item {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
  -moz-box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
  box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
}

.course__item-3 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.course__item-3 .course__more {
  border: 1px solid #eef0f6;
}

.course__item-3 .course__content {
  border: 1px solid #eef0f6;
  border-top: none;
  border-bottom: none;
}

.course__item:hover .course__thumb img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.course__tag .course__item-2 {
  padding: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__item-2 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .course__item-2 {
    padding: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__thumb-list {
    height: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__thumb-list img {
    height: 100%;
  }
}

.course__tag {
  position: absolute;
  top: 20px;
  left: 20px;
}

.course__tag a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #b128ff;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course__tag a.sky-blue {
  background: #0fa0dd;
}

.course__tag a.green {
  background: #30a820;
}

.course__tag a.blue {
  background: #3b60ff;
}

.course__tag a.blue-2 {
  background: #5744cb;
}

.course__tag a.orange {
  background: #fa7919;
}

.course__tag a.pink {
  background: #f2277e;
}

.course__tag a.yellow {
  background: #ffa507;
}

.course__tag-2 i {
  color: #2b4eff;
  padding-right: 8px;
}

.course__tag-2 a {
  font-size: 16px;
  color: #53545b;
  font-weight: 500;
}

.course__tag-2 a:hover {
  color: #2b4eff;
}

.course__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__title {
    font-size: 18px;
  }
}

.course__title a:hover {
  color: #2b4eff;
}

.course__title-2 {
  font-size: 24px;
  margin-bottom: 2px;
}

.course__title-2 a:hover {
  color: #2b4eff;
}

.course__title-3 {
  font-size: 36px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__title-3 {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .course__title-3 {
    font-size: 20px;
  }
}

.course__meta {
  margin-bottom: 7px;
}

.course__lesson span {
  font-size: 16px;
}

.course__lesson span i {
  color: #53545b;
  padding-right: 7px;
}

.course__content {
  padding: 25px 30px;
}

.course__content-2 {
  padding-top: 25px;
}

.course__content-2 p {
  margin-bottom: 30px;
}

.course__content-3 {
  padding-left: 80px;
  padding-right: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__content-3 {
    padding-top: 15px;
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__content-3 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__content-3 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}

@media (max-width: 575px) {
  .course__content-3 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 85px;
  }
}

.course__content-4 {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__content-4 {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__content-4 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__content-4 {
    padding-left: 45px;
    padding-bottom: 85px;
  }
}

@media (max-width: 575px) {
  .course__content-4 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 85px;
  }
}

.course__summary p {
  font-size: 18px;
}

@media (max-width: 575px) {
  .course__summary p {
    font-size: 16px;
  }
}

.course__right {
  position: relative;
  height: 100%;
}

.course__rating span {
  font-size: 16px;
}

.course__rating span i {
  padding-right: 5px;
  color: #ff9415;
}

.course__rating-2 h5 {
  font-size: 14px;
  color: #53545b;
  font-weight: 600;
  margin-bottom: 0;
}

.course__rating-2 ul li {
  display: inline-block;
}

.course__rating-2 ul li a {
  font-size: 14px;
  color: #ff9415;
}

.course__rating-inner p {
  font-size: 16px;
  color: #0e1133;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 3px;
}

.course__teacher-thumb img {
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  -moz-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
}

.course__teacher-thumb-2 {
  position: relative;
}

.course__teacher-thumb-2 img {
  width: 46px;
  height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 5, 52, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 5, 52, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 5, 52, 0.1);
}

.course__teacher-thumb-3 img {
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  -moz-box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
  box-shadow: 0px 10px 14px 0px rgba(1, 11, 60, 0.1);
}

.course__teacher h6 {
  font-size: 16px;
  font-weight: 500;
  color: #53545b;
  margin-bottom: 0;
  line-height: 1;
  padding-top: 2px;
}

.course__teacher h6 a:hover {
  color: #2b4eff;
}

.course__teacher-info h6 {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;
}

.course__teacher-info h6 a {
  line-height: 1;
}

.course__teacher-info span {
  color: #6d6e75;
  font-size: 14px;
  font-weight: 600;
}

.course__teacher-info-3 h5 {
  font-size: 14px;
  color: #53545b;
  font-weight: 600;
  margin-bottom: 0;
}

.course__teacher-info-3 p {
  font-size: 16px;
  color: #0e1133;
  font-weight: 600;
  margin-bottom: 0;
}

.course__teacher-rating {
  position: absolute;
  top: -1px;
  right: -7px;
}

.course__teacher-rating i {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  background: #ff9415;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.course__update h5 {
  font-size: 14px;
  color: #53545b;
  font-weight: 600;
  margin-bottom: 0;
}

.course__update p {
  font-size: 16px;
  color: #0e1133;
  font-weight: 600;
  margin-bottom: 0;
}

.course__status span {
  font-size: 20px;
  color: #b128ff;
  font-weight: 600;
  padding-right: 5px;
}

.course__status span.sky-blue {
  color: #0fa0dd;
}

.course__status span.green {
  color: #30a820;
}

.course__status span.blue {
  color: #3b60ff;
}

.course__status span.blue-2 {
  color: #5744cb;
}

.course__status span.orange {
  color: #fa7919;
}

.course__status span.pink {
  color: #f2277e;
}

.course__status span.yellow {
  color: #ffa507;
}

.course__status span.old-price {
  font-size: 14px;
  color: #6d6e75;
  text-decoration: line-through;
}

.course__more {
  padding: 10px 30px;
  padding-top: 15px;
  border-top: 1px solid #f0f0f5;
}

.course__more-2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-left: 80px;
  padding-right: 70px;
  background: #ffffff;
}

@media (max-width: 575px) {
  .course__more-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.course__more-3 {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 575px) {
  .course__more-3 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.course__btn .link-btn {
  color: #0e1133;
}

.course__btn .link-btn:hover {
  color: #2b4eff;
}

.course__menu button {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  background: transparent;
  text-transform: capitalize;
  position: relative;
  border: none;
  margin-bottom: 18px;
}

.course__menu button .tag {
  position: absolute;
  top: -25px;
  right: -4px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
  background: #2b4eff;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
  -moz-box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
  box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
}

.course__menu button .tag::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid #2b4eff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.course__menu button:hover,
.course__menu button.active {
  color: #2b4eff;
}

.course__menu button:not(:first-child) {
  margin-left: 25px;
  border: none;
}

@media (max-width: 575px) {
  .course__menu button:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .course__menu button {
    margin-right: 25px;
  }
}

.course__tab-inner {
  padding: 15px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course__tab-btn .nav-tabs {
  border: none;
}

.course__tab-btn .nav-tabs .nav-item .nav-link {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  padding: 0;
  margin-right: 6px;
}

.course__tab-btn .nav-tabs .nav-item .nav-link svg {
  width: 14px;
  height: 14px !important;
}

.course__tab-btn .nav-tabs .nav-item .nav-link svg.grid .st0 {
  fill: none;
  stroke: #53545b;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.course__tab-btn .nav-tabs .nav-item .nav-link.active {
  background: #2b4eff;
}

.course__tab-btn .nav-tabs .nav-item .nav-link.active svg.grid .st0 {
  fill: none;
  stroke: #ffffff;
}

.course__tab-btn .nav-tabs .nav-item .nav-link.active svg .st0 {
  fill: #ffffff;
}

.course__tab-2 .nav-tabs {
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.course__tab-2 .nav-tabs .nav-item {
  width: 25%;
}

.course__tab-2 .nav-tabs .nav-item:not(:last-child) .nav-link {
  border-right: 1px solid #d2d3dc;
}

.course__tab-2 .nav-tabs .nav-item:not(:last-child) .nav-link.active {
  border-color: #2b4eff;
}

.course__tab-2 .nav-tabs .nav-item .nav-link {
  background: #edeef3;
  font-size: 16px;
  font-weight: 600;
  color: #0e1133;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.course__tab-2 .nav-tabs .nav-item .nav-link i {
  padding-right: 5px;
}

.course__tab-2 .nav-tabs .nav-item .nav-link.active {
  background: #2b4eff;
  color: #ffffff;
}

@media (max-width: 575px) {
  .course__tab-2 .nav-tabs .nav-item .nav-link span {
    display: none;
  }
}

.course__view {
  margin-left: 12px;
}

.course__view h4 {
  font-size: 15px;
  font-weight: 500;
  color: #53545b;
  display: inline-block;
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .course__sort {
    margin-top: 15px;
  }
}

.course__sort-inner {
  position: relative;
}

.course__sort-inner::before {
  content: "\f107";
  right: 15px;
  top: 4px;
  position: absolute;
  color: #53545b;
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
}

.course__sort-inner select {
  appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  width: 160px;
  height: 35px;
  line-height: 37px;
  padding: 0 20px;
  font-size: 15px;
  color: #53545b;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course__sort-inner select:hover {
  cursor: pointer;
}

.course__description h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.course__description p {
  font-size: 18px;
  color: #53545b;
}

.course__description-list h4 {
  font-size: 26px;
  margin-bottom: 15px;
}

.course__description-list ul li {
  font-size: 18px;
  color: #53545b;
  margin-bottom: 7px;
}

.course__description-list ul li i {
  font-size: 16px;
  color: #0e1133;
  padding-right: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__sidebar {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course__sidebar {
    padding-left: 0;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__sidebar {
    margin-top: 50px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .course__sidebar {
    margin-top: 50px;
    padding-left: 0;
  }
}

.course__sidebar-widget {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 27px 30px;
  padding-bottom: 24px;
  margin-bottom: 3px;
}

.course__sidebar-widget-2 {
  padding: 30px;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
  -moz-box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
  box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course__sidebar-title {
  font-size: 20px;
  margin-bottom: 27px;
  text-transform: capitalize;
}

.course__sidebar-search {
  position: relative;
}

.course__sidebar-search input {
  width: 100%;
  height: 60px;
  line-height: 58px;
  padding: 0 30px;
  padding-right: 45px;
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #f3f4f8;
  outline: none;
}

.course__sidebar-search input::placeholder {
  color: #8d8e9a;
  font-weight: 500;
}

.course__sidebar-search input:focus {
  border-color: #2b4eff;
  background: #ffffff;
}

.course__sidebar-search button {
  width: 18px;
  height: 18px;
  background: transparent;
  position: absolute;
  top: 17px;
  right: 20px;
}

.course__sidebar-search button svg .st0 {
  fill: #8c8faa;
}

.course__sidebar-search button svg .st1 {
  fill: #0e1133;
}

.course__sidebar-check input {
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  display: block;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #c7c9d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

.course__sidebar-check input:checked {
  position: relative;
  background-color: #2b4eff;
  border-color: transparent;
}

.course__sidebar-check input:checked::after {
  box-sizing: border-box;
  content: "\f00c";
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  font-size: 11px;
  color: #ffffff;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.course__sidebar-check input:hover {
  cursor: pointer;
}

.course__sidebar-check label {
  font-size: 15px;
  font-weight: 500;
  color: #53545b;
  padding-left: 14px;
}

.course__sidebar-check label:hover {
  cursor: pointer;
  color: #2b4eff;
}

.course__sm-thumb img {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.course__sm-content h5 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1;
}

.course__sm-content h5 a:hover {
  color: #2b4eff;
}

.course__sm-price span {
  font-size: 14px;
  color: #2b4eff;
  font-weight: 600;
}

.course__sm-rating ul li {
  display: inline-block;
}

.course__sm-rating ul li a {
  font-size: 10px;
  color: #ff9415;
  line-height: 1;
}

.course__instructor h3 {
  font-size: 26px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course__instructor-item {
    margin-right: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course__instructor-item {
    margin-top: 25px;
    margin-right: 0px;
  }
}

@media (max-width: 575px) {
  .course__instructor-item {
    margin-top: 25px;
    margin-right: 0px;
  }
}

.course__instructor-thumb img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.course__instructor-content h3 {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1;
}

.course__instructor-content p {
  font-size: 14px;
  color: #53545b;
  margin-bottom: 0;
}

.course__share h3 {
  font-size: 20px;
}

.course__share ul li {
  display: inline-block;
  margin-right: 10px;
}

.course__share ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  font-size: 13px;
  color: #0e1133;
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course__share ul li a.fb {
  color: #285da1;
  background: rgba(40, 93, 161, 0.1);
}

.course__share ul li a.fb:hover {
  color: #ffffff;
  background: #285da1;
}

.course__share ul li a.tw {
  color: #03a9f4;
  background: rgba(3, 169, 244, 0.1);
}

.course__share ul li a.tw:hover {
  color: #ffffff;
  background: #03a9f4;
}

.course__share ul li a.pin {
  color: #d8163f;
  background: rgba(216, 22, 63, 0.1);
}

.course__share ul li a.pin:hover {
  color: #ffffff;
  background: #d8163f;
}

.course__curriculum-content {
  padding: 13px 30px;
  border-bottom: 1px solid #edeef2;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.course__curriculum-content:hover {
  background: #f6f7fb;
}

.course__curriculum-info svg {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

.course__curriculum-info svg .st0 {
  fill: none;
  stroke: #6D6E75;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.course__curriculum-info h3 {
  display: inline-block;
  font-size: 16px;
  color: #53545b;
  font-weight: 400;
  margin-bottom: 0;
}

.course__curriculum-info h3 span {
  color: #0e1133;
  font-weight: 500;
}

.course__curriculum-meta span.time {
  font-size: 16px;
  color: #53545b;
}

.course__curriculum-meta span.time i {
  margin-right: 7px;
}

.course__curriculum-meta span.question {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f2277e;
  margin-left: 20px;
}

.course__curriculum .accordion-item {
  padding: 0;
}

.course__curriculum .accordion-item .accordion-button {
  outline: none;
  border: 1px solid #edeef2;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background: #f3f4f8;
  font-size: 20px;
  font-weight: 700;
  color: #0e1133;
  padding-top: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.course__curriculum .accordion-item .accordion-button.collapsed {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course__curriculum .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.course__curriculum .accordion-item .accordion-body {
  padding: 0;
}

.course__review-rating-info {
  padding: 62px 0;
  border-right: 3px solid #ffffff;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

@media (max-width: 575px) {
  .course__review-rating-info {
    border-right: 0;
    border-bottom: 3px solid #ffffff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
}

.course__review-rating-info h5 {
  font-size: 100px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 8px;
}

.course__review-rating-info ul li {
  display: inline-block;
}

.course__review-rating-info ul li a {
  color: #ff9415;
}

.course__review-rating-info p {
  color: #53545b;
  margin-bottom: 0;
}

.course__review-progress {
  width: calc(100% - 60px - 60px);
  height: 4px;
  overflow: hidden;
  background: #d8dae3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.course__review-progress .single-progress {
  background: #2b4eff;
  height: 100%;
}

.course__review-details {
  padding: 35px 65px 10px 35px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.course__review-details>h5 {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .course__review-details {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
}

.course__review-item {
  margin-bottom: 5px;
}

.course__review-text span {
  font-size: 16px;
  color: #53545b;
}

.course__review-percent {
  width: 40px;
}

.course__review-percent h5 {
  font-size: 16px;
  font-weight: 400;
  color: #53545b;
  margin-bottom: 0;
}

.course__comment-box {
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 25px 40px 25px 30px;
  margin-bottom: 10px;
}

.course__comment-box p {
  color: #53545b;
  margin-bottom: 0;
}

.course__comment-thumb img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.course__comment-info {
  margin-bottom: 5px;
}

.course__comment-info h4 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}

.course__comment-info span {
  font-size: 14px;
  color: #53545b;
}

.course__comment-rating ul li {
  display: inline-block;
}

.course__comment-rating ul li a {
  font-size: 12px;
  color: #ff9415;
}

.course__comment-rating ul li a.no-rating {
  color: #b8b9bf;
}

.course-form h3 {
  font-size: 26px;
  margin-bottom: 40px;
}

.course-form-input input,
.course-form-input textarea {
  width: 100%;
  height: 56px;
  line-height: 54px;
  border: 2px solid #f3f4f8;
  outline: none;
  background: #f3f4f8;
  padding: 0 22px;
  font-size: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.course-form-input input:focus,
.course-form-input textarea:focus {
  border-color: #2b4eff;
  background: #ffffff;
}

.course-form-input input::placeholder,
.course-form-input textarea::placeholder {
  color: #53545b;
}

.course-form-input textarea {
  height: 150px;
  resize: none;
  padding: 20px;
  line-height: 1.1;
}

.course-form-rating {
  margin-bottom: 10px;
}

.course-form-rating span {
  color: #53545b;
}

.course-form-rating ul {
  display: inline-block;
}

.course-form-rating ul li {
  display: inline-block;
}

.course-form-rating ul li a {
  font-size: 14px;
  color: #ff9415;
}

.course-form-rating ul li a.no-rating {
  color: #b8b9bf;
}

.course-form-btn button {
  text-transform: capitalize;
}

.course-member-item {
  padding: 25px 30px;
  background: #f3f4f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.course-member-thumb {
  position: relative;
}

.course-member-thumb::after {
  position: absolute;
  content: "";
  right: 0;
  top: -5px;
  width: 1px;
  height: 80px;
  background: #dddee4;
}

@media (max-width: 575px) {
  .course-member-thumb::after {
    display: none;
  }
}

.course-member-thumb img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.course-member-name h5 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}

.course-member-name span {
  font-size: 15px;
  color: #53545b;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course-member-info {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .course-member-info {
    margin-top: 25px;
    padding-left: 0;
  }
}

.course-member-info h5 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
}

.course-member-info span {
  font-size: 15px;
  color: #53545b;
}

.course-slider .swiper-pagination {
  bottom: 20px;
}

.course-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d6d7de;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 1;
}

.course-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2b4eff;
}

.course-video-thumb {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course-video-thumb::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 32, 0.5);
}

.course-video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.course-video-price h5 {
  font-size: 26px;
  display: inline-block;
  margin-bottom: 0;
}

.course-video-price h5 span {
  font-size: 20px;
  font-weight: 600;
}

.course-video-price h5.old-price {
  text-decoration: line-through;
  color: #6d6e75;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
}

.course-video-discount span {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  color: #ff4690;
  background: rgba(255, 70, 144, 0.08);
  font-weight: 600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.course-video-content ul li:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eef0f6;
}

.course-video-icon svg {
  width: 16px;
  height: 20px;
  margin-right: 12px;
}

.course-video-icon svg .st0 {
  fill: none;
  stroke: #2b4eff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 2.6667;
}

.section-title .main-up-title.yellow-shape {
  bottom: -6px;
  left: -10px;
  z-index: 2;
  animation: 3s linear 0s infinite normal none running yellowBg;
  margin-top: 45px;
}

@keyframes yellowBg {
  0% {
    width: 0px;
  }

  15% {
    width: 100%;
  }

  85% {
    opacity: 1;
  }

  90% {
    width: 100%;
    opacity: 0;
  }

  100% {
    width: 0px;
    opacity: 0;
  }
}

.course-video-info h5 {
  margin-bottom: 0;
  font-weight: 400;
  color: #6d6e75;
  font-size: 15px;
  line-height: 1;
}

.course-video-info h5 span {
  font-weight: 500;
  color: #0e1133;
  padding-right: 5px;
}

.course-payment h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.course-enroll-btn i {
  padding-left: 4px;
}

.course-shape img {
  position: absolute;
}

.course-shape img.course-dot {
  right: -30px;
  top: 150px;
  z-index: -1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course-shape img.course-dot {
    right: -20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course-shape img.course-dot {
    right: -20px;
  }
}

@media (min-width: 1400px) {
  .col-xxl-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
      margin-top: 30px;
    }
  }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .course-shape img.course-dot {
    right: -10px;
  }
}

@media (max-width: 575px) {
  .course-shape img.course-dot {
    right: -10px;
  }
}




#event {
  background: var(--color-light, #fff);
}

#event article.article h3 {
  font-size: 3.2rem;
  margin-top: 110px;
}

#event .event_bg_shape {
  left: 26%;
  margin-top: 223px;
}

#event .row>* {
  position: relative;
  z-index: 2;
}

#event .event_item {
  box-shadow: var(--shadow);
  padding: 2rem 2.2rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  background: var(--color-light, #fff);
}

#event .event_item:before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: -3px;
  width: 60px;
  height: 0;
  z-index: -1;
  border-radius: 0.5rem;
  background: var(--primary-color, #2b4eff);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#event .event_item.fill::before,
#event .event_item:hover::before {
  top: 0;
  bottom: auto;
  height: 100%;
}

#event .event_item .event_time_and_date {
  font-size: 14px;
  color: #777;
}

#event .event_item .event_time_and_date span {
  padding-right: 8px;
}

#event .event_item .event_time_and_date span.br:before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0px;
  width: 1px;
  height: 70%;
  background: #777;
}

#event .event_item h3.event_name {
  font-size: 1.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

#event .event_item h3.event_name:hover a {
  color: var(--primary-color, #2b4eff);
}

#event .event_item a.view_all i:first-child {
  z-index: 1;
}

#event .event_item a.view_all:hover i:first-child {
  right: -19px;
}

#event .event_item a.view_all i:last-child {
  right: -19px;
}





#costing {
  padding: 100px 0 16rem;
  background: var(--color-light, #fff);
}

#costing .nav.nav-pills,
#costing article.article {
  width: max-content;
  margin: 0 auto;
}

#costing .nav.nav-pills {
  border: 2px solid var(--gray-color, #edeef3);
  border-radius: 0.4rem;
  overflow: hidden;
}

#costing .nav.nav-pills li button {
  padding: 0.4rem 1rem;
  border-radius: 0;
}

#costing .costing_card {
  padding: 3rem;
  background: #e9edf7;
  width: 50%;
  margin: 0 0.8rem;
  border-radius: 0.5rem;
}

.costing_cards.tab-content>.active {
  display: flex;
}

#costing .costing_card .costing_card_header {
  border-bottom: 1px solid #c3c3c3;
}

#costing .costing_card .costing_card_header h4,
h3.price {
  font-weight: 600;
}

#costing .costing_card .costing_card_header h3.price {
  margin-bottom: 2rem;
  font-size: 3rem;
}

#costing .costing_card .costing_card_header h3.price sub {
  font-size: initial;
  font-weight: normal;
  margin-left: -1rem;
}

#costing .costing_card ul.costing_card_featured {
  padding: 1.5rem 0 2.5rem;
}

#costing .costing_card ul.costing_card_featured li {
  margin: 0.5rem 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#costing .costing_card ul.costing_card_featured li:hover {
  color: #09c128;
}

#costing .costing_card ul.costing_card_featured li i {
  color: #09c128;
  margin-right: 0.5rem;
}

#costing .costing_card.dimond a.try_free {
  background: transparent;
}

#costing .costing_card.dimond a.try_free:hover {
  background: var(--primary-color, #2b4eff);
}

#costing .costing_card.dimond span.best_sell {
  top: 5%;
  right: -3%;
  background: var(--secondary-color);
  padding: 2px 7px;
  color: #fff;
  border-radius: 0.3rem 0 0 0.3rem;
}

#costing .costing_card.dimond span.best_sell {
  top: 5%;
  right: -3%;
  background: var(--secondary-color);
  padding: 2px 7px;
  color: #fff;
  background-color: #f2277e;
  border-radius: 0.3rem 0 0 0.3rem;
}

#costing .costing_card.dimond span.best_sell::after {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #960443;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
}





#guide .own_guid_card {
  padding: 2.5rem 5rem;
  background: #2b4eff;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: -5rem;
  z-index: 3;
}

#guide .own_guid_card .own_card_content {
  flex-wrap: wrap;
}

#guide .own_guid_card .cicle_shape {
  right: -163px;
  bottom: -90px;
}

#guide .own_guid_card h3 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--color-light, #fff);
  font-weight: 600;
  z-index: 3;
}

#guide .own_guid_card .btn {
  z-index: 2;
  background: var(--color-light, #fff);
  padding: 1rem 2.5rem;
}

#guide .own_guid_card .btn:focus,
#guide .own_guid_card .btn:hover {
  box-shadow: var(--shadow);
  color: var(--color, #0e1133);
}

/* start footer */ 


footer {
  padding-top: 13rem;
  margin-top: -8rem;
  background: #100741;
  color: var(--gray-color);
}

footer p {
  color: #b9b9b9;
}

footer a.logo {
  width: 120px;
}

footer .icons a {
  color: var(--gray-color);
  font-size: 1.2rem;
  margin: 0 5px;
  background: var(--btn-color);
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  outline: 2px solid var(--btn-color);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

footer .icons a:hover {
  outline-offset: 3px;
}

footer h4 {
  margin-bottom: 1.5rem;
color: white;
}

ul.footer_menu li a {
  margin: 0.2rem 0;
  color: #b9b9b9;
}

ul.footer_menu li a:hover {
  color: var(--color-light, #fff);
}

ul.footer_menu{
  list-style: none;
  margin: 0px;
  color: white;
}

footer .footer_bottom {
  padding: 5px 0;
  font-size: 13px;
  border-top: 1px solid #1c1f3f;
}

footer .footer_bottom a {
  color: var(--color-light, #fff);
}

footer form input[type="email"] {
  padding: 20px 14px;
  border: none;
  font-size: 15px;
  width: 70%;
  border-radius: 0.3rem 0 0 0.3rem;
}

footer form button {
  width: 20%;
  border: none;
  color: #fff;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #2b4eff;
  border-radius: 0 0.3rem 0.3rem 0;
}

footer form button i {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

footer form button i:first-child {
  left: 0;
  opacity: 0;
}

footer form button:hover i:first-child {
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

footer form button:hover i:last-child {
  opacity: 0;
}

footer .con-mt {
  margin-top: calc(2rem / var(--i, 0));
}
