* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Hind, sans-serif;
  overflow-x: hidden;
}
img {max-width: 100%;}
p {line-height: 1.5;}
ul {
  list-style: none;
  margin: 0px;
}
a {text-decoration: none;}
a, span, label, input {
  display: inline-block;
}
input, textarea, button {outline: none;}
.py {
  padding-top: 100px;
  padding-bottom: 100px;
}
.shown {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: scale 1s ease-in-out forwards;
  -webkit-animation: scale 1s ease-in-out forwards;
}
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
@keyframes scale {
  0% {
      transform: scale(0.5);
      opacity: 0.5;
      filter: grayscale(1);
  }
  50% {
      opacity: 1;
      transform: scale(1);
      filter: grayscale(0);
  }
}
a.try_free {
  padding: 0.8rem 1.5rem;
  background: var(--primary-color, #455ef9);
}
a.try_free:hover, a.try_free:focus {
  background: var(--primary-color, #455ef9);
  border-color: var(--primary-color, #455ef9);
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4,23,118,0.3)) !important;
}
article.article h3 span .yellowbg {
  bottom: -2px;
  left: 0px;
  z-index: -1;
  animation: 3s linear 0s infinite normal none running yellowBg;
}
@keyframes yellowBg {
  0% {width: 0px;}
  15% {width: 100%;}
  85% {opacity: 1;}
  90% {
      width: 100%;
      opacity: 0;
  }
  100% {
      width: 0px;
      opacity: 0;
  }
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 70px;
  z-index: 100;
}
header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-light,#fff);
  box-shadow: var(--shadow);
  animation: 0.3s ease-in-out 0s 1 normal forwards running fade;
}
@keyframes fade {
  0% {
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}
ul li a, a {
  color: var(--color, #0e1133);
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  font-family: Hind, sans-serif;
}
section {z-index: 3;} 
header .header_left a.logo {margin-top: 10px;}
header .header_left a.logo figure {
  width: 114px;
  height: 46px;
  margin: 0;
}
header .header_category {padding-left: 56px;}
header .header_category::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 27px;
  width: 1px;
  height: 165%;
  background: rgb(206, 206, 206);
}
header .header_category li ul.drop_down_menu li > a:hover, header ul li.drop_down_btn:hover > a {
  fill: var(--primary-color,#2b4eff);
  color: var(--primary-color,#2b4eff);
}
header .header_category .header_category-icon{
  width: 15px;
  margin-right: 10px;
  color:black;

}

header ul li ul.drop_down_menu {
  left: 0px;
  width: 200px;
  background: var(--color-light,#fff);
  box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  z-index: 9;
}
header ul li ul.category_drop_down_menu {
  top: calc(100% + 30px);
  padding: 17px 0px 15px;
  border-radius: 4px;
}
header ul li ul.drop_down_menu li a {
  width: 100%;
}
header .header_category li ul.drop_down_menu li > a {
  padding: 3px 30px;
  color: rgb(109, 110, 117);
  font-weight: 500;
  text-transform: capitalize;
}
header li.drop_down_btn:hover ul.drop_down_menu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
header .header_right nav.main_menu {width: 50%;}
header .header_right nav.main_menu ul {padding: 0px;}
header .header_right nav.main_menu ul span {
  font-size: 0.6rem;
  vertical-align: text-top;
}
header .header_right nav.main_menu ul a:not(.drop_down_menu a) {padding: 35px 0px;}
header nav.main_menu ul li ul.drop_down_menu {top: 120%;}
header nav.main_menu ul li ul.drop_down_menu a {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
}
header nav.main_menu ul li ul.drop_down_menu li:not(:last-child) a {
  border-bottom: 1px solid rgb(221, 221, 221);
}
header nav.main_menu ul li ul.drop_down_menu a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% + 1px);
  width: 100%;
  z-index: -2;
  background: var(--primary-color);
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out 0s;
}
header nav.main_menu ul li ul.drop_down_menu a:hover {
  color: var(--color-light,white);
  background-color: blue;
}
header nav.main_menu ul li ul.drop_down_menu a:hover::before {
  transform-origin: left center;
  transform: scaleX(1);
  transition-delay: 0.1s;
}
header .form_and_btn form {
  background: var(--color-light,#fff);
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  border: 1px solid transparent;
}
header.sticky .form_and_btn form {
  background: var(--gray-color,#edeef3);
}
header .form_and_btn form:focus-within {
  border-color: var(--primary-color, #455ef9);
}
header .form_and_btn form .shopping_cart_icon {width: 24px;}
header .form_and_btn form .shopping_cart_icon path {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 1.2px;
}
header .form_and_btn form button, .form_and_btn form input {
  background: transparent;
  border: none;
}
header .form_and_btn form input {
  padding: 5px 1rem;
  font-size: 14px;
  width: 100%;
  border-right: 1px solid rgb(221, 221, 221);
  margin-right: 10px;
}
header .form_and_btn form .shopping_cart_and_label span {
  position: absolute;
  top: -7px;
  right: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary-color, #455ef9);
  text-align: center;
  line-height: 18px;
  color: var(--color-light,#fff);
  font-size: 13px;
  box-shadow: var(--shadow, 0 10px 20px 0 rgba(4,23,118,0.3));
}
header .toggle-btn {
  width: 35px;
  height: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .toggle-btn:before,
header .toggle-btn::after,
header .toggle-btn span {
  content:"";
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color, #455ef9);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header .toggle-btn:before {top: 0;}
header .toggle-btn::after {bottom: 0;}
header .toggle-btn:hover::before,
header .toggle-btn:hover::after,
header .toggle-btn:hover span {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
header .toggle-btn:hover::before {width: 10px;}
header .toggle-btn:hover span {width: 20px;}
header .toggle-btn.toggle::before,
header .toggle-btn.toggle::after,
header .toggle-btn.toggle span {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
header .toggle-btn.toggle::before {width: 10px;}
header .toggle-btn.toggle span {width: 20px;}
header a.try_free {white-space: nowrap;}



/* MAIN CSS START */



.hero__height {
  min-height: 950px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero__height {
    min-height: 850px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__height {
    min-height: 750px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero__height {
    min-height: 1100px;
  }
}
@media (max-width: 575px) {
  .hero__height {
    min-height: 850px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero__height-2 {
    min-height: 1350px;
  }
}
@media (max-width: 575px) {
  .hero__height-2 {
    min-height: 850px;
  }
}
.main_up_title {
  font-size: 60px;
  line-height: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main_up_title {
    font-size: 55px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_up_title {
    font-size: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_up_title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_up_title {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .main_up_title {
    font-size: 30px;
  }
}
.main_up_title span:first-child {
  font-weight: 300;
  display: block;
}
.main_up_title span.yellow-shape {
  position: relative;
  z-index: 1;
}
.main_up_title span.yellow-shape img {
  position: absolute;
  bottom: 1px;
  left: -1px;
  z-index: -1;
  -webkit-animation: section-animation 3s infinite;
  animation: section-animation 3s infinite;
}
.main_up button{
  cursor: pointer;
  width: 137px;
  height: 54px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_up_title span.yellow-shape img {
    bottom: 12px;
    height: 40% !important;
  }
}
.main_up_title-2 {
  margin-bottom: 20px;
}
.main_up p {
  font-size: 22px;
  color: #0e1133;
  padding-right: 130px;
  line-height: 30px;
  margin-bottom: 28px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_up p {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_up p {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_up p {
    padding-right: 0px;
  }
}
@media (max-width: 575px) {
  .main_up p {
    padding-right: 0px;
  }
}
.main_up-2 h4 {
  font-size: 22px;
  margin-bottom: 0;
}
.main_up-2 p {
  color: #53545b;
  font-size: 16px;
  margin-bottom: 37px;
}
.main_up_thumb {
  z-index: 1;
}
.main_up_thumb-big {
  position: relative;
}
.main_up_thumb-big img {
  max-width: 400px;
  max-height: 460px;
  -webkit-border-radius: 40px 4px 40px 4px;
  -moz-border-radius: 40px 4px 40px 4px;
  border-radius: 40px 4px 40px 4px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_up_thumb-big img {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_up_thumb-big img {
    margin-top: 50px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main_up_thumb-big img {
    margin-top: 50px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main_up_thumb-sm {
    margin-left: -60px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_up_thumb-sm {
    margin-left: -160px;
    margin-top: -95px;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
    margin-left: 33px;
    margin-top: 52px;
}
  }
.main_up_thumb-sm img {
  max-width: 200px;
  max-height: 240px;
  -webkit-border-radius: 4px 40px 4px 40px;
  -moz-border-radius: 4px 40px 4px 40px;
  border-radius: 4px 40px 4px 40px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
}
.main_up_thumb-shape img {
  position: absolute;
  z-index: -1;
}
.main_up_thumb-shape img.hero-1-dot {
  bottom: -25px;
  top: 620px;
  left: 745px;
  -webkit-animation: hero-dot-1 5s linear 0s infinite alternate;
  -moz-animation: hero-dot-1 5s linear 0s infinite alternate;
  -o-animation: hero-dot-1 5s linear 0s infinite alternate;
  animation: hero-dot-1 5s linear 0s infinite alternate;
}
.main_up_thumb-shape img.hero-1-circle-3 {
  bottom: -47px;
  right: 13%;
  top: 59%;
}
.main_up_thumb-shape img.hero-1-circle-4 {
  top: 193px;
  right: 15%;
}
.main_up_thumb-2 {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main_up_thumb-2 img.hero-big {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_up_thumb-2 img.hero-big {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_up_thumb-2 img.hero-big {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_up_thumb-2 img.hero-big {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main_up_thumb-2 img.hero-big {
    width: 100%;
  }
}
.main_up_thumb-2 img.hero-shape-purple {
  position: absolute;
  left: 0;
  bottom: 19%;
  z-index: -1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main_up_thumb-2 img.hero-shape-purple {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_up_thumb-2 img.hero-shape-purple {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_up_thumb-2 img.hero-shape-purple {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_up_thumb-2 img.hero-shape-purple {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main_up_thumb-2 img.hero-shape-purple {
    width: 100%;
  }
}
.hero__quote {
  position: absolute;
  bottom: 60px;
  right: -200px;
  padding: 15px 25px;
  padding-bottom: 20px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero__quote {
    right: -145px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero__quote {
    right: 60px;
    bottom: -50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__quote {
    right: 30px;
    bottom: -50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero__quote {
    right: 30px;
    bottom: -50px;
  }
}
@media (max-width: 575px) {
  .hero__quote {
    right: 15px;
    bottom: -50px;
  }
}
.hero__quote span {
  font-size: 14px;
  color: #474956;
}
.hero__quote h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
}
.hero__quote-animation {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-bounce;
}
.main_up_shape img {
  position: absolute;

}
.main_up_shape img.hero-1-circle {
  top: 25%;
  left: 5%;
  -webkit-animation: hero-circle-1 6s linear 0s infinite alternate;
  -moz-animation: hero-circle-1 6s linear 0s infinite alternate;
  -o-animation: hero-circle-1 6s linear 0s infinite alternate;
  animation: hero-circle-1 6s linear 0s infinite alternate;
}
.main_up_shape img.hero-1-circle-2 {
  bottom: 29%;
  left: 0;
  top: 59%;;
}
.main_up_shape img.hero-1-dot-2 {
  right: 0;
  bottom: 38%;
  margin-bottom: -98px;

}
.hero__search-input {
  position: relative;
  width: 370px;
}
@media (max-width: 575px) {
  .hero__search-input {
    width: 100%;
  }
}
.hero__search-input input {
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0 24px;
  padding-right: 35px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
}
.hero__search-input input::placeholder {
  color: #8d8e9a;
}
.hero__search-input button {
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  background: transparent;
}
.hero__search-input button i::after {
  color: #0e1133;
  opacity: 1;
}
.hero__search-input button i::before {
  color: #8c8faa;
}
.hero__search p {
  font-size: 16px;
  color: #6d6e75;
}
.hero__promotion {
  position: absolute !important;
  left: -7% !important;
  top: 44% !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  padding: 15px 20px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__promotion {
    left: 20% !important;
    top: 71% !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero__promotion {
    left: 9% !important;
    top: 71% !important;
  }
}
@media (max-width: 575px) {
  .hero__promotion {
    left: 9% !important;
    top: 52% !important;
  }
}
.hero__promotion.education {
  bottom: 28% !important;
  top: auto !important;
  left: -11% !important;
}
.hero__promotion-icon span {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff7921;
}
.hero__promotion-icon span svg {
  height: 24px;
  fill: #ffffff;
}
.hero__promotion-icon span.cap {
  background: #5773ff;
}
.hero__promotion-text h5 {
  font-size: 16px;
  margin-bottom: 0;
}
.hero__promotion-text p {
  font-size: 14px;
  color: #474956;
  margin-bottom: 0;
}
.hero__class {
  position: absolute;
  left: auto !important;
  top: auto !important;
  bottom: 33%;
  right: -12%;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  -moz-box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  box-shadow: 0px 30px 60px 0px rgba(1, 11, 60, 0.14);
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero__class {
    right: -5%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero__class {
    right: 1%;
    bottom: 15%;
  }
}
.hero__class-thumb img {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.hero__class-text h5 {
  font-size: 16px;
  margin-bottom: 0;
}
.hero__class-text p {
  font-size: 14px;
  color: #474956;
  margin-bottom: 0;
}
.hero__class-text a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding: 0 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #e233fb;
}
.hero__mic {
  position: absolute;
  top: 30%;
  right: 10%;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-bounce;
}
.hero__mic span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ff3c4e;
  -webkit-box-shadow: 0px 14px 30px 0px rgba(131, 2, 14, 0.2);
  -moz-box-shadow: 0px 14px 30px 0px rgba(131, 2, 14, 0.2);
  box-shadow: 0px 14px 30px 0px rgba(131, 2, 14, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero__mic span svg {
  height: 28px;
  fill: #ffffff;
}

@keyframes hero-dot-1 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hero-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes hero-circle-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}